

.main-myport-container {
  right: 0;
  top: 103px;
  background-image: url(../../../assets/Myportf.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 70vw;
  min-height: 100vh;

}

.main-logo-container {
    display: flex;
}

.main-about-me-container {
  padding: 10vh 0 0 7vw
}

.main-helloworld {
    display: flex;
}

.main-title {
  font-family: 'Bowlby One', sans-serif;
  font-size: 50px;
  color: #fff;
  left: 100px;
  top: 260px;
  margin: 0;
  z-index: 1;
}

.main-subtitle {
  font-size: 15px;
  color: #fff;
  left: 100px;
  top: 320px;
  margin: 0;
  z-index: 1;
}

.main-button-group {
  left: 100px;
  top: 360px;
  display: flex;
  gap: 10px;
  z-index: 1;
}

.main-download-cv-button, .my-work-button {
  width: 121px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  cursor: pointer;
  font-family: 'Arya', sans-serif;
}

.main-download-cv-button {
  background-color: #6319CD;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
}

.main-download-cv-button:hover {
  background-color: #431188;
}

.main-my-work-button {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: 1px solid #fff;
  transition: background-color 0.3s;
}

.main-my-work-button:hover {
  background-color: #222;
}

.main-myport {
    display: flex;
}

.main-myport-img {
    display: flex;
}

.main-myport-person {
  right: 45px;
  top: 125px;
}

.main-person {
    display: flex;
}

.main-arrow-container {
  right: 630px;
  top: 376px;
  z-index: 1;
}

.main-arrow-button {
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
  transition: background-color 0.6s;
}

.main-arrow-button:hover {
  background-color: #520db3;
}

.main-my-projects {
    display: flex;
}

.main-my-Projects-container {
  display: flex;
  padding-top: 530px;
}

.main-line-text-container {
  display: flex;
  padding-top: 505px;
  padding-left: 190px;
}

.main-line-text {
  font-family: 'Bowlby One', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  padding-top: 32px;
}

.main-project-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  padding-top: 640px;
  padding-left: 6%;
}

.main-cards {
  display: flex;
  width: 321px;
  height: 147px;
  border-radius: 7px;
  background: linear-gradient(to right, #230055, #8835FF);
}

.main-cards img {
  padding-left: 10px;
  align-self: center;
}

.main-text-container-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 200px;
}

.main-title-card {
  font-family: 'Bowlby One', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  margin: 0;
}

.main-paragraph-card {
  font-size: 10px;
  font-weight: 100;
  line-height: 10px;
  color: #fff;
}

.main-button-card {
  align-self: flex-start;
  width: 5rem;
  height: 1.4rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: 0.5px solid #fff;
  border-radius: 7px;
  font-size: 0.5rem;
  font-weight: 400;
  cursor: pointer;
}