

  .main-myport-container {
    right: 0;
    top: 103px;
    margin-top: 18vh;
    background-image: url(../../../assets/Myportf.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 70vw;
    min-height: 90vh;

  }

  .main-logo-container {
      display: flex;
  }

  .main-about-me-container {
    padding: 15vh 0 0 7vw
  }

  .main-helloworld {
      display: flex;
  }

  .main-title {
    font-family: 'Bowlby One', sans-serif;
    font-size: 50px;
    color: #fff;
    left: 100px;
    top: 260px;
    margin: 0;
    z-index: 1;
  }

  .main-subtitle {
    font-size: 15px;
    color: #fff;
    left: 100px;
    margin: 0;
    z-index: 1;
  }

  .main-button-group {
    left: 100px;
    top: 360px;
    display: flex;
    gap: 10px;
    z-index: 1;
  }
  .main-download-cv-button {
    width: 116px;
    height: 40px;
    margin: 15px 6px 0 0;
    background-color: #0000005d;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-download-cv-button:hover {
    background-color: #431188;
  }

  .main-my-work-button {
    width: 116px;
    height: 40px;
    margin: 15px 0 0 6px;
    background-color: #0000005d;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-my-work-button:hover {
    background-color: #431188;
  }

  .main-myport {
      display: flex;
  }

  .main-myport-img {
      display: flex;
  }

  .main-myport-person {
    right: 45px;
    top: 125px;
  }

  .main-person {
      display: flex;
  }
  
  .main-my-projects {
      display: flex;
  }

  .main-my-Projects-container {
    display: flex;
    padding-top: 530px;
  }

  .main-line-text-container {
    display: flex;
    padding: 24px 0 0 6px;
  }

  .main-lines {
    padding-top: 17px;
  }

  .main-line-text {
    font-family: 'Bowlby One', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
  }

  .main-project-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-top: 20px;
    justify-items: center;
  }
  .card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 321px;
    height: auto;
    padding: 20px 0 0 0;
    border-radius: 7px;
    background: linear-gradient(to top, #8835FF, #230055);
    justify-content: space-between;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
  }
  .card-container:hover{
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
  }

  .main-learn-more {
    width: 100%;
    background: linear-gradient(to top, #8835FF, #230055);
    padding: 10px 0 10px 0;
    border-radius: 0px 0px 7px 7px;
  }

  .main-cards {
    display: flex;
    
  }

  .main-cards img {
    align-items: baseline;
  }

  .main-text-container-card {
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  .main-title-card {
    font-family: 'Bowlby One', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    margin: 0 0 0 0;
  }

  .main-paragraph-card {
    font-size: 0.7rem;
    font-weight: 100;
    line-height: 13px;
    color: #fff;
  }

  .main-button-card {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.2rem;
    height: 1.5rem;
    background-color: black;
    color: #fff;
    border: 0.5px solid #fff;
    border-radius: 7px;
    font-size: 0.7rem;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  .main-button-card:hover {
    background-color: #1e0347;
  }