.container-footer {
    display: flex;
    justify-content: center;
    padding: 60px 0 50px 0;
    background: linear-gradient(to top, #1a003d, #0a0018,#000000);
  }

.footer-logo {
    width: 110px;
    height: 110px;
}

.footer-text-empresa {
    margin: 0 0 0 20px;
    color: white;
}

.footer-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: black;
    color: #fff;
    border: 0.5px solid #fff;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0 0 0 10px;
    margin: 0 0 16px 20px;
}

.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 100px;
    height: 30px;
    background-color: black;
    color: #fff;
    border: 0.5px solid #fff;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 400;
}