/* Contact Section */

.footer-cont {
    display: flex;
}

.footer-cont-container {
  display: grid;
  margin: 20px;
  padding-top: 4%;
  padding-right: 6%;
  grid-template-columns: 1fr;
  z-index: 1;
}

.footer-cont-box,
.footer-cont-box-d {
  width: 496px;
  margin-bottom: 1rem;
}

.footer-contact-box {
  height: 40px;
  color: gray;
  background-color: #000;
  border: 1.8px solid #6319CD;
  padding: 0 10px;
}

.footer-contact-box-d {
  height: 100px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
}

.footer-coment-button {
  width: auto;
  height: auto;
  background-color: #6319CD;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}