/* Header-css */
.header-navbar {
  display: flex;
  height: 18vh;
  justify-content: space-between;
  padding-inline: 1.2vw;
}

.header-lg-mk-container {
    display: flex;  
    padding: 20px 0 0 25px;
    z-index: 1;
    width: 13vw;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
  }
  .header-lg-mk-container:hover{
    transform: scale(1.3); /* Aumenta o tamanho em 10% */
  }

.header-tp-buttons-navbar {
    display: flex;
    right: 15px;
    top: 0;
    align-items: center;
    transition: background-color 0.6s;
  }

  .header-custom-button-navbar {
    background: transparent;
    color: #fff;
    border: none;
    padding: 15px;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-custom-button-navbar:hover {
    background-color: #6319CD;
  }

  .header-hire-me-button-navbar {
    width: 106px;
    height: 44px;
    margin: 15px;
    background-color: #6319CD;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-hire-me-button-navbar:hover {
    background-color: #431188;
  }

  .header-lang-button-navbar {
    height: 8vh;
    background-color: #6319CD;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.6s;
  }
  .header-lang-button-navbar:hover {
    background-color: #431188;
  }